@media screen and (max-width: 980px) {

    .slicknav_menu {display: block;}
    .sidebar {display: none;}
    .header-top-holder {width: 95%;}
    .sidebar {width: 73%;}
    .sidebar ul {float: right;}
    .sidebar ul li {padding: 7px 0.9% 7px;}
    .sidebar ul li:last-child {padding-right: 0;}
    .header-bottom .slideshow-holder-smoll, .header-bottom .slideshow-holder, .baner, .map {width: 95%;}
    .slideshow-nav {width: auto;}
    .slideshow img {width: 100% !important;}
    .wrapper {width: 95%; }
    .description-left {width: 35%;}
    .description-right {width: 59.8%;}
    .btn-price, .btn-more, .calculator.block .choice-btn .price, .calculator.block .choice-btn a {width: 50%; padding-left: 0;}
    .post .post-smal {width: 24.2% !important; min-height: 275px;}
    .tr_offers {width: 22.8%;}
    .post img {width: 33%;}
    .attachment-190x253.wp-post-image {width: 97%; height: auto;}
    .kids_club .button {right: -118px; }
    .post .post-big {width: 34%;}
    .tr_kids_klub {display: block; float: none; margin: 0 0 0 34%; width: auto;}
    .kids_club {width: 60% !important;}
    .footer {width: 95%;}
    .tr_kids_klub-m {display: none;}
    .kids_club .btn-img {width: 35%;}
    .tr_video {width: 40%;}
    .tr_video embed, .tr_video object, .tr_video iframe, .hotel embed, .hotel object, .hotel iframe {width: 100% !important;}

    /*calculator main*/
    .calculator.inline {width: 100%;}
    .price, .btn-choice {width: 100%;}
    .choice-btn {width: 23%;}
    .choice-date {width: 31%;}
    .middle-choice {margin: 0 25% 0 31%;}
    .choice .input-holder:nth-child(2) {padding: 0;}
    .choice .input-holder:nth-child(1) {padding: 0;}
    .choice .input-holder:nth-child(3) {padding: 0; margin: 0; text-align: right;}
    .choice .input-holder:nth-child(3) p {padding: 1px 0 0;text-align: left;}
    .section label {padding:0;}
    .input-holder {width: 33.3%; background: none;}
    .middle-choice .input-holder label {float: left; width: 52%;}
    .middle-choice label p {white-space: nowrap; overflow: hidden;}
    .middle-choice .input-holder label p { word-wrap: break-word; overflow-wrap: break-word; white-space: normal;}
    .number {margin: 0; text-align: center; width: 46%;}
    .people-holder {padding: 0 0 0 12px;}
    .choice-date input {width: 48%; padding-left: 5px;}
    .choice-date p {width: 88px; float: none; padding-left: 0;}
    .choice {width: 79.5%;}
    .selectbox .select {float: right !important; width: 75%;}
    .selectbox {width: 58%; float: right;}

    /*calculator*/
    .calculator.block .choice-btn {width: auto; float: none;}
    .calculator.block {width: auto;}
    .left-box {width: 45%;}
    .calculator.block .date-holder .choice-date input {width: 60%;}
    .calculator.block .people-holder .input-holder {margin-right: 0;}
    .calculator.block .people-holder .input-holder .number {width: 45%;}
    .calculator.block .date-holder .selectbox .select {width: 93%;}
    .calculator.block .date-holder .choice-date {width: 95%; margin: 0 auto; float: none;}
    .calculator.block .date-holder .section {padding-right: 0; width: 95%; margin: 0 auto;}
    .calculator.block {max-height: inherit;}

    /*hotel*/
    .left-box .choice-room p {padding-left: 0; width: 110px;}
    .left-box .selectbox {width: 63%;}
    .hotel {width: 50%;}
    .hotel figure {margin-right: 10px;}


    /*special*/
    .service-post {width: auto; float: none;}
    .spa {width: 50%;}
    .spa .service-post {width: 91.5%;}
    .spa .btn-img {float: right;}
    .fitnes {width: 50%;}
    .fitnes .btn-img {background: none; float: none;}
    .fitnes .btn-img .btn-smoll-right {right: -95px;}
    .fitnes .btn-smoll-right:before, .fitnes .btn-big-right:before {content: url(../img/btn-bg-after.png); left: 95px;}
    .fitnes .btn-smoll-right:hover:before, .fitnes .btn-big-right:hover:before,
    .fitnes .btn-img:hover .btn-smoll-right:before{content: url(../img/btn-bg-after-hover.png);}
    .service .btn-smoll-left-right {position: relative; left: 0;}
    .fitnes .btn-img .btn-smoll-right, .service .btn-big-right {position: relative; left: 0;}
    .spa .btn-img {background: none; float: none; /*padding-left: 20px;*/}
    .spa.even .btn-img {padding-left: 45px;}
    .service, .service-post {padding-bottom: 10px;}
    .service .btn-img img {float: none;}
    .content, .content-massage { width: auto; padding: 0 0 0 45%; float: none;}
    .post-info {width: auto;}
    .fitnes.odd {clear: left;}

    /*hotel page*/
    .baner img {position: inherit;}
    .hotel figure {float: none; margin: 0;}
    .hotel img {float: none; margin: 0;}

    /*hotel rooms*/
    .standard {width: 55%;}
    .standard .rooms-post {width: 62%;}
    .rooms-post-stand-img {padding: 0 0 0 62%;}
    .rooms .rooms-post-stand-img img, .rooms .rooms-post-img img {float: none;}
    .halfluxe .rooms-post, .luxe .rooms-post {width: 50%;}
    .rooms-post ul li a {line-height: 20px;}
    .rooms-post-img {padding: 0 0 0 50%;}
    .apartments .rooms-post-img {padding: 0; float: left; width: 50%;}
    .apartments .rooms-post {float: none; padding: 0 0 0 50%; width: auto;}
    .rooms-post-img {float: none;}

    /*rooms*/
    .full .post-box {float: none; width: auto; margin: 0 0 0 45%; position: inherit;}
    .content-holder {height: auto;}
    .room-sidebar {clear: both;}
    .room-in {float: none; margin: 0 0 0 45%; width: auto;}
    .gallery-room, .room-description {padding-left: 2.9%;}
    .gallery-box {width: 50%;}
    .gallery-box .img-holder, .gallery-box figcaption {width: 50%;}
    .gallery-box .litebox {background: none;}

    /*bars*/
    .content-bars .content-holder {width: 50%;}
    .content-bars .content-holder .post-box {width: 45%;}
    .content-bars .content-holder .btn-img {float: none; margin: 0 0 0 45%; background: none;}
    .content-bars .content-holder img {float: none;}
    .content-bars .center-post {width: 80%; padding: 0 10%; float: none; padding: 0; overflow: hidden;}
    .grill {padding: 0;}
    .gallery-box-center {margin: 0 auto; padding: 0; float: none;}
    .btn-kidmenu {margin: 0 auto; position: relative; right: -25%;}
    #colorbox {width: 70% !important; left: 13% !important;}
    #cboxWrapper, #cboxLoadedContent, #cboxContent {width: 100% !important;}

    /*services*/
    .spa2 {width: 55%;}
    .spa2 .service-post {width: 91.5%;}
    .spa2 .btn-img {background: none; float: none; padding-left: 20px;}
    .holl {width: 50%;}
    .holl .btn-img {background: none; float: none;}
    .service.auto {width: 80%; padding: 0 10%; float: none; padding: 0; overflow: hidden; margin: 0 auto;}

    /*interest*/
    .shortnews {width: auto;}
    .last, .doings-block-interestingly {width: 45%;}
    .interestingly {width: 55%;}
    .interestingly .img {width: auto; float: none; padding: 0 190px 0 0; background: none; min-height: 223px;}
    .doings .last {width: 30%;}
    .doings .interestingly {width: 60%;}
    .doings .interestingly .img {padding: 0 0 0 190px; min-height: 227px;}
    .doings.block, .crimea-and-secrets.block {width: 100%;}
    .doings.block .interestingly .button {left: 100%;}
    .row h4 {width: auto;}

}
@media screen and (max-width: 650px) {
    /*calculator*/
    .choice-date p, .choice-room p, .middle-choice label, .price span {font-size: 12px;}
    .choice-date p {padding-top: 7px;}
    .selectbox .select, .choice-date input {font-size: 12px;}
    .choice-date input {padding-bottom: 7px }
    .number {padding:5px 0 6px;}
    .choice-date label {margin-bottom: 9px;}
    .choice .input-holder:nth-child(3) p {padding: 6px 0 0; text-align: center;}
    .price {font-size: 18px;}
    .btn-choice {font-size: 14px;}

    /*main*/
    .description-right {width: 57.9%;}
    .description-left h2 {font-size: 26px; line-height: 30px; margin-bottom: 10px;}
    .tr_offers a {font-size: 17px;}
    .post .post-big {width: 27%;}
    .kids_club .button {right: -124px;}
    .post h2 {font-size: 23px;}
    .description-left p, .tr_anons, .post p {font-size: 13px;}
    .post figcaption, .post .post-smal {min-height: 366px;}
    .post img {width:39%;}
    .post-smal div {padding: 151px 0 0 !important;}
    .attachment-190x253.wp-post-image {width: 100%;}
    .kids_club .btn-img {width: 38%;}
    .choice {width: 90.5%;}

    .btn-price, .btn-more {font-size: 14px;}

    /*special*/
    .fitnes .btn-img {min-height: 0;}
    .fitnes {min-height: 423px;}

    /*hotel rooms*/
    .rooms-post ul li a {font-size: 12px;}
    .rooms-post p {font-size: 12px; line-height: 15px;}
    .rooms-post h2 {font-size: 22px; margin-bottom: 10px;}
    .rooms-post h4 {font-size: 14px; margin-bottom: 8px;}

    /*bars*/
    .content-bars .content-holder .post-box h2, .content-bars .content-holder .post-box h2 a {font-size: 18px; line-height: 18px;}
    .content-bars .content-holder .post-box p {font-size:12px;}
    #cboxTitle {text-align: left;}

}
@media screen and (max-width: 480px) {
    html {-webkit-text-size-adjust: none;}
    /*main*/
    .description-left h2 {font-size: 16px; line-height: 20px;}
    .description-left {width: auto; float: none;}
    .description-right {width: auto;}
    .post figcaption, .post .post-smal {width: auto !important; min-height:0;}
    .post .post-big, .post .post-smal {float: none;}
    .post-smal div {padding: 0 0 10px !important;}
    .post img {width: 100%;}
    .post-img, .tr_kids_klub-one {display: none;}
    .post-img-m, .tr_kids_klub-m {display: block;}
    .post h2 {font-size: 18px;}
    .kids_club .btn-img {float: none; width: 100%;}
    .tr_video {float: none; width: 100%;}
    .kids_club {width:100% !important;float: none;}
    .tr_kids_klub {margin: 0;}
    .slicknav_menu {width: 100% !important; top: 0 !important; right: 0 !important;}
    .header-top {margin-top: 54px;}
    .copyright {width: 29.5%; padding: 0;}
    .copyright a {margin-top: 0;}
    .copyright p {float: left; padding: 10px 0 0; word-break: normal; overflow-wrap: normal; word-wrap: normal;}
    #nav a {width: 25px; padding: 6px 0;}
    .menu {min-height: 150px;}
    .menu ul li {padding-bottom: 0;}


    /*calculator*/
    .calculator-one {display: none;}
    .calculator.inline {display: block; position: relative; width: 95%; margin: 0 auto; height: auto;}
    .choice-date {float: none; width: 100%;}
    .middle-choice {margin: 0; margin: 10px 0 0;}
    .choice-btn {float: none; width: auto;}
    .choice-date p, .choice-room p, .middle-choice label, .price span, .selectbox .select, .choice-date input {font-size: 12px;}
    .choice-date p {width: 100px; padding: 7px 0 0;}
    .choice-room p {padding-left: 0;}
    .people-holder {padding: 0;}
    .choice-date, .middle-choice {height: auto;}
    .ui-datepicker-trigger {top: 4px;}

    /*hotel*/
    .left-box {width: auto; float: none;}
    .hotel {width: 100%; padding-left: 0;}
    .hotel figure {margin: 0; float: none;}
    .hotel p, .news p, .menu ul li a {font-size: 12px; padding-right: 0;}
    .hotel h2, .news h2, .menu h2 {font-size: 22px; margin-bottom: 10;}
    .form-holder {width: 80%;}
    .how-to-contact .form-title span {font-size: 12px;}
    .how-to-contact .form-title h1 {font-size: 18px;}
    .form-holder .how-to-contact {width: 80%;}

    /*popup*/
    #order .close {right: 5px;}
    .btn-search-holder {padding: 0;}
    .how-to-contact .row textarea {min-width: 225px;}
    .btn-search-box-holder {width: 145px;}
    .btn-search-box-holder .content {width: 94px;}
    .form-holder .row .btn-search, .order-fill-inside .btn-search, #dialog .btn-search, #warningModal .btn-search {width: 94px; font-size: 13px;}

    /*special*/
    .spa h2,.service-post h2, .post-info h2,.content .stock h2 {font-size: 22px; line-height: 22px;}
    .spa .service-post p, .service-post p, .post-info p {font-size: 12px;}
    .spa, .fitnes {width: 100%;}
    .fitnes .btn-img {max-width: inherit;}
    .fitnes {min-height: 0;}

    .content, .content-massage {padding: 0;}
    .content .stock {padding: 0;}

    /*hotel rooms*/
    .rooms {background: none;}
    .standard {width: 100%;}
    .standard .rooms-post {width: 100%; float: none;}
    .rooms-post-stand-img {padding: 0;}
    .halfluxe .rooms-post, .luxe .rooms-post {width: 100%;}
    .apartments .rooms-post {padding: 0;}
    .apartments .rooms-post-img {width: 100%; float: none; padding: 10px 0 0;}
    .rooms-post, .rooms {height:auto; float: none;}
    .rooms-post-content {padding:17px 10px 10px 10px !important;}
    .rooms-post-img {padding: 0;}

    /*rooms*/
    .full .post-box {margin: 0; padding: 0;}
    .room-in {margin: 0;}
    .room-description h2, .room-sidebar h2, .post-box h2, .room-in h2 {font-size: 22px;}
    .rooms-post-content {padding-left: 10px; padding-right: 10px;}

    /*bars*/
    .content-bars .content-holder {width: 100%; height: auto;}
    .content-bars .content-holder .post-box {width: 100%; min-height: inherit;}
    .content-bars .content-holder .post-box-content {min-height: inherit;}
    .content-bars .content-holder .btn-img {margin: 0;}
    .btn-kidmenu {right: 0;}

    /*services*/
    .holl, .spa2 {width: 100%;}
    .spa2 .service-post {width: auto; padding-left: 10px; padding-right: 10px;}
    .service.auto {width: auto;}
    .full .post-box p {font-size: 12px;}
    .full .post-box h2 {padding-top: 10px;}

    /*interest*/
    .last, .doings-block-interestingly {width: 100%; padding-bottom: 41px; height: auto; margin-bottom: 10px;}
    .interestingly {width: 100%;}
    .shortnews .interestingly .button, .crimea-and-secrets .interestingly .button  {height: 41px; left: 0; top: -51px;}
    .doings .interestingly {width: 100%;}
    .doings .last {width: 100%;}
    .doings .interestingly .img {min-height: 205px;}
    .doings.block {background: none;}
    .doings.block .interestingly .button {left: 0; bottom: -80%;}
    .shortnews, .doings, .crimea-and-secrets {padding-bottom: 10px;}
    .interestingly-holder {width: auto; float: none;}
    .interestingly .img {padding: 0;}

    /*contacts*/
    .contact-form {width: 100%; float: none;}
    .contact-form .form-title {width: 100%; padding-right: 0; background: #f0f0f0; position: relative;}
    .contact-form form {width: 100%; }
    .contact-form .form-title h2 {margin: -20px 0 0; text-align: center; position: absolute; top: 50%;}
    .contact-form form .form-bottom .input-holder {width: 100%;}
    .contact-form form .form-bottom .input-holder textarea{width: 93.5%; padding: 0;}
    .contact-form form .form-bottom {width: 95%;}
    .contact-form form .form-top .input-holder input {width: 85%;}
    .btn-contact {margin: 0 auto;}
    .map .contact-map {left: 0; width: 65%; padding-right: 50px; height: auto; padding-bottom: 15px;}
    .map .contact-map h2 {font-size: 22px;}
    .map .contact-map p {font-size: 14px;}

}

@media screen and (max-width: 320px) {
    /*main*/
    .logo {width: 213px;}
    .language {width: 61px;}

    /*popups*/
    .form-holder {width: 70%;}
    #order-fill-contact, #order-fill {width: 250px; margin-left: -125px; min-width: 0; font-size: 22px;  }
    .order-fill-row p {font-size: 13px; }
    #boxes .window, .window-order-fill { min-width: 250px;}
    .how-to-contact .row input[type="text"] {width: 65%;}
    .how-to-contact .row textarea {min-width: 66px; width: 127px;}
    .how-to-contact .row label {font-size: 13px;}
    .btn-search-box-holder {width: 143px;}
    .how-to-contact .form-title h1 {font-size: 13px;}
    .form-title-r, .form-title-l {display: none;}
    .how-to-contact .row span {padding-left: 0; width: 143px;}

    /*rooms*/
    .gallery-box figcaption p {font-size: 12px;}
    .room-description h2 {font-size: 18px;}

    /*bars*/
    .features-holder .line-holder figure {float: none; margin: 0 auto;}
    .features-holder .line-holder figure:last-child {margin: 0 auto;}

    /*contacts*/
    .post-contact-hotel {width: 92.7%; float: none;}
    .post-contact figcaption {width: 92.7%; float: none; min-height: 115px;}
    .post-contact {float: none;}
    .post-contact h3 {margin-top: 20px;}
    .post-contact .spa-bg {background: none;}
    .map .contact-map {width: 55%;}

    }

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
